* {
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: white;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 4px #81818133;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
}

header h1{
    margin: 0px;
}
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 80vw;
    margin-top: 50px;
}

.banner div {
    width: 30vw;
    color: #777;
}

.banner h3, .tituloPesquisa p {
    font-size: 1.5em;
    font-weight: 400;
}

.banner h1, .tituloPesquisa h1, .tituloResultado h1{
    font-size: 2.5em;
    font-weight: 700;
    margin: 10px 0;
}

.banner span {
    color: #3282EC;
}

.banner button {
    background-color: #448DED;
    border-radius: 5px;
    width: 170px;
    height: 45px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

.banner button:hover{
    background-color: #3283ecca;
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin: 30px 0px;
}

footer {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: 1px 0px 10px #81818133;
    display: flex;
    height: 150px;
}

footer p {
    margin: 0px;
}

header form{
    box-shadow: none;
    padding: 0px;
    width: auto;
    flex-direction: row;
}

header form input[type="text"] {
    width: 200px;
    padding: 10px;
}

header form input[type="submit"]{
    padding: 10px;
    margin-left: 10px;
    background-color: #448DED;
    border-radius: 5px;
    width: auto;
    border: none;
    cursor: pointer;
    color: white;
}

header form input[type="submit"]:hover{
    background-color: #3283ecca;
}

header div {
    align-items: center;
    display: flex;
}

header div span {
    padding: 10px;
    margin-left: 10px;
    background-color: #F74044;
    border-radius: 5px;
    width: auto;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.botaovermelho {
    padding: 10px;
    margin-left: 10px;
    background-color: #F74044;
    border-radius: 5px;
    width: auto;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.botaovermelho:hover {
    background-color: #f74043b5;
}

.botaoverde {
    padding: 10px;
    margin-left: 10px;
    background-color: #30b572;
    border-radius: 5px;
    width: auto;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.botaoverde:hover {
    background-color: #30b573b5;
}

header div span:hover{
    background-color: #f74043b5;
}

table {
    border: 1px solid #333;
    max-width: 80vw;
    margin: auto;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3283ecca;
      color: white;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

.cad_livro {
    background-color: #30b572;
}

.cad_livro:hover {
    background-color: #30b573b5;
}

.botaovermelho1 {
    margin: auto;
    padding: 15px;
    background-color: #F74044;
    border-radius: 5px;
    width: 300px;
    border: none;
    cursor: pointer;
    color: white;
    display: block;
    font-size: 13px; 
    margin-bottom: 20px;
}

.botaovermelho1:hover {
    background-color: #f74043b5;
}

.botaoverde1 {
    padding: 15px;
    background-color: #30b572;
    border-radius: 5px;
    width: 300px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.botaoverde1:hover {
    background-color: #30b573b5;
}